<a href="https://colab.research.google.com/github/abhikashyapr22/stack-overflow/blob/master/03_08_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [70]:
import pandas as pd

In [88]:
data = {
    'Id':[1,1,1,1,1],
    'date':['12/02/2022','13/02/2022','14/02/2022','15/02/2022','16/02/2022'],
    'Steps':[12,0, 45,0,67]
}

In [89]:
df = pd.DataFrame(data)

In [90]:
df

   Id        date  Steps
0   1  12/02/2022     12
1   1  13/02/2022      0
2   1  14/02/2022     45
3   1  15/02/2022      0
4   1  16/02/2022     67

In [91]:
df[df['Id']==1].groupby('Id').agg(Sum_Tot_Steps=('Steps','sum'))

    Sum_Tot_Steps
Id
1             124

In [92]:
df2 = pd.DataFrame(df.groupby('Id').sum().reset_index(drop=True), columns=['Id','TotalSteps','Zero_steps'])

In [93]:
df2

   Id  TotalSteps  Zero_steps
0 NaN         NaN         NaN

In [95]:
df2['Id'] = df.groupby('Id')['Steps'].sum().index

In [84]:
df2

   Id  TotalSteps  Zero_steps
0   1         124         NaN

In [105]:
Zero_steps =  df[df['Steps']==0].groupby('Id')['Steps'].count().reset_index(drop=True)
Zero_steps

0    2
Name: Steps, dtype: int64

In [104]:
Total_steps = df.groupby('Id')['Steps'].sum().reset_index(drop=True)
Total_steps

0    124
Name: Steps, dtype: int64

In [106]:
ID = df.groupby('Id')['Steps'].sum().index
ID

Int64Index([1], dtype='int64', name='Id')

In [107]:
data1 = {
    'Id':ID,
    'Total_steps':Total_steps,
    'Zero_steps':Zero_steps
}

In [108]:
df2 = pd.DataFrame(data1)

In [109]:
df2

   Id  Total_steps  Zero_steps
0   1          124           2

In [87]:
df

   Id        date  TotalSteps
0   1  12/02/2022          12
1   1  13/02/2022           0
2   1  14/02/2022          45
3   1  15/02/2022           0
4   1  16/02/2022          67

In [110]:
df3 = pd.DataFrame([[1844505072, 6847, '4/1/2016'], [1844505072, 5367, '4/2/2016'], [1844505072, 0, '4/3/2016'],[1844505072, 0, '4/4/2016']], columns=['Id', 'TotalSteps','ActivityDate'])

In [111]:
df3

           Id  TotalSteps ActivityDate
0  1844505072        6847     4/1/2016
1  1844505072        5367     4/2/2016
2  1844505072           0     4/3/2016
3  1844505072           0     4/4/2016

In [114]:
# final solution

# Total_steps = df.groupby('Id')['Steps'].sum().reset_index(drop=True)
# Zero_steps =  df[df['Steps']==0].groupby('Id')['Steps'].count().reset_index(drop=True)
# ID = df.groupby('Id')['Steps'].sum().index

# data1 = {
#     'Id':ID,
#     'Total_steps':Total_steps,
#     'Zero_steps':Zero_steps
# }

# df2 = pd.DataFrame(data1)

In [112]:
Total_steps = df3.groupby('Id')['TotalSteps'].sum().reset_index(drop=True)
Zero_steps =  df3[df3['TotalSteps']==0].groupby('Id')['TotalSteps'].count().reset_index(drop=True)
ID = df3.groupby('Id')['TotalSteps'].sum().index

data1 = {
    'Id':ID,
    'Total_steps':Total_steps,
    'Zero_steps':Zero_steps
}

df4 = pd.DataFrame(data1)

In [113]:
df4

           Id  Total_steps  Zero_steps
0  1844505072        12214           2