<a href="https://colab.research.google.com/github/abhikashyapr22/stack-overflow/blob/master/Asignment_automation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [11]:
df = pd.DataFrame(data=[[1,1,'pass',"male"],
                             [2,1,'pass',"female"],
                             [3,2,'fail',"female"]],
                       columns=['ID', 'TEST_TYPE', 'TEST_STATUS','TEST_DATE'])

In [12]:
df

   ID  TEST_TYPE TEST_STATUS TEST_DATE
0   1          1        pass      male
1   2          1        pass    female
2   3          2        fail    female

In [17]:
df[df['TEST_STATUS']=='pass'].groupby('TEST_STATUS').count()

             ID  TEST_TYPE  TEST_DATE
TEST_STATUS
pass          2          2          2

In [18]:
d = {'list1':[1,3,4,5],
     'list2':[7,8,9,0],
     'list3':[5,6,7,8]}

In [21]:
df1 = pd.DataFrame(d)

In [22]:
df1

   list1  list2  list3
0      1      7      5
1      3      8      6
2      4      9      7
3      5      0      8

In [33]:
list1 = [1,3,4,5]
list2 = [7,8,9,0]
list3 = [5,6,7,8]

In [34]:
lists = [list1, list2, list3]

In [43]:
# final solution

d2 = {}
list_df =[]
lists = [list1, list2, list3]

for ind,l in enumerate(lists):
  #print(ind, l)
  if ind not in d2:
    d2[f'list_{ind}']=l
    list_df.append(pd.DataFrame(d2))

list_df[0]

In [41]:
d2

{'list_0': [1, 3, 4, 5], 'list_1': [7, 8, 9, 0], 'list_2': [5, 6, 7, 8]}

In [45]:
list_df[0]

   list_0
0       1
1       3
2       4
3       5

In [42]:
pd.DataFrame(d2)

   list_0  list_1  list_2
0       1       7       5
1       3       8       6
2       4       9       7
3       5       0       8

In [26]:
d2 = {}
list_df =[]
for l in lists:
  if l not in d2:
    d2[f'{l}']=l
    list_df.append(pd.DataFrame(d2))

ValueError: ignored