<a href="https://colab.research.google.com/github/abhikashyapr22/stack-overflow/blob/master/dataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
import pandas as pd
import numpy as np
import copy
import re

In [35]:
d = {
    "customerId": [1, 3, 3, 3, 3],
    "text": ["Something with Cat", "That is a huge dog", "Hello agian", 'This is a ca', 'this is a cad'],
     "element": ['cat', 'dog', 'mouse', 'cat', 'cat'],
     "code": [9,8,7, 9, 9],
     "test": [9,999,7,999,9]
}


df = pd.DataFrame(data=d)
print(df)

   customerId                text element  code  test
0           1  Something with Cat     cat     9     9
1           3  That is a huge dog     dog     8   999
2           3         Hello agian   mouse     7     7
3           3        This is a ca     cat     9   999
4           3       this is a cad     cat     9     9

In [3]:
element1 = df['element'].unique()
element1

array(['cat', 'dog', 'mouse'], dtype=object)

In [9]:
total_count = df['element'].value_counts()
total_count

cat      3
dog      1
mouse    1
Name: element, dtype: int64

In [26]:
new_df = df[df['code']==df['test']].value_counts()
new_df

customerId  text                element  code  test
1           Something with Cat  cat      9     9       1
3           Hello agian         mouse    7     7       1
            this is a cad       cat      9     9       1
dtype: int64

In [31]:
df[df['code']==df['test']]['element'].value_counts()

cat      2
mouse    1
Name: element, dtype: int64

In [37]:
flase_count = np.abs(df['element'].value_counts() - df[df['code']==df['test']]['element'].value_counts())
flase_count

cat      1.0
dog      NaN
mouse    0.0
Name: element, dtype: float64

In [17]:
df.groupby('element').count()

         customerId  text  code  test
element
cat               3     3     3     3
dog               1     1     1     1
mouse             1     1     1     1