<a href="https://colab.research.google.com/github/abhikashyapr22/stack-overflow/blob/master/28_07_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 animals = [['dog', 'snake', 'snake'], ['dog', 'dog', 'cat'], ['snake', 'snake', 'cat']]
 animals_to_count = ['dog', 'cat']

In [ ]:
from typing import List

def find_animals(animals:List[List], animals_to_count: List[str]):
  d = {}
  for animal in animals_to_count:
    d[animal] = 0
  
  for char in animals:
    for s in char:
        if s in animals_to_count:
          d[s] += 1

  return d

res = find_animals(animals,animals_to_count)
print('Dogs:',res['dog'],' ','Cats:',res['cat'])

Dogs: 3   Cats: 2

In [ ]:
res = find_animals(animals,animals_to_count)

In [ ]:
print('Dogs:',res['dog'],' ','Cats:',res['cat'])

Dogs: 3   Cats: 2

In [ ]:
import random

In [ ]:
num = random.randint(100,999)

In [ ]:
print(num)

328

In [ ]:
def rand_num():
  num1 = random.randint(2, 50)
  num2 = random.randint(2,20)
  print(num1)
  print(num2)
  if num1*num2 not in list(range(100,1000)):
    rand_num()
  else:
    return num1, num2

In [ ]:
num1, num2 = rand_num()
print(num1, num2)

15
9
15 9

In [ ]:
rand_num()

33
9

(33, 9)