<a href="https://colab.research.google.com/github/abhikashyapr22/stack-overflow/blob/master/updating_column_based_on_other_column.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(0,index=[0,1,2,3],columns = ["string","a","b","c","d"])
df["string"] = ["b", "b", "c", "a"]

In [3]:
df

  string  a  b  c  d
0      b  0  0  0  0
1      b  0  0  0  0
2      c  0  0  0  0
3      a  0  0  0  0

In [16]:
df.b.where(df["string"]=="b")

0    0.0
1    0.0
2    NaN
3    NaN
Name: b, dtype: float64

# Formate

In [22]:
#df.loc[ df[“column_name”] == “some_value”, “column_name”] = “value”

In [18]:
df.loc[ df["string"] == "b", "b"] = 1

In [19]:
df

  string  a  b  c  d
0      b  0  1  0  0
1      b  0  1  0  0
2      c  0  0  0  0
3      a  0  0  0  0

In [20]:
df.update(pd.get_dummies(df['string']))

In [21]:
df

  string  a  b  c  d
0      b  0  1  0  0
1      b  0  1  0  0
2      c  0  0  1  0
3      a  1  0  0  0